:root {
  --primary-color: darkblue;
  --accent-color: gray;
  --light-bg: #eee;
  --dark-text: #333;
  --border-color: black;

  --standard-padding: 1rem;
  --img-small: 150px;
  --img-medium: 200px;

  --box-shadow: 0 0 30px var(--accent-color);
}

main {
  max-width: 840px;
}

nav {
  background-color: var(--primary-color);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

img {
  width: var(--img-small);
  height: auto;
  border: 1px solid var(--border-color);
  padding: 2px;
  box-shadow: var(--box-shadow);
}

aside img {
  width: var(--img-medium);
  height: auto;
}

p {
  padding: 0;
}

aside {
  width: 20rem;
  margin: var(--standard-padding);
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: var(--standard-padding);
  background-color: var(--light-bg);
  color: var(--dark-text);
  text-align: center;
}

aside {
  width: var(--img-medium);
  height: auto;
}

main img {
  width: var(--img-small);
  height: auto;
  border: 0;
  padding: 0;
  background-color: lightgray;
  box-shadow: var(--box-shadow);
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

